* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

dialog {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 5;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem;
}
form > button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: transparent;
}
input {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: transparent;
  outline: 1px solid gray;
}

.turn {
  font-size: 2rem;
}

.container {
  width: 30rem;
  height: 30rem;
}

.grid {
  display: grid;
  height: 100%;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.tile {
  background-color: salmon;
  text-align: center;
  align-content: center;
  border: transparent;
  transition: transform 0.2s ease-in-out;
  font-size: 4rem;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.win {
  background-color: lightgreen;
}

.active {
  color: white;
  pointer-events: none;
  position: relative;
}
.active::after {
  content: "";
  background-color: black;
  position: absolute;
  inset: 0;
  opacity: 0.2;
}

.player-wins-container {
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
}

.reset {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  letter-spacing: 2px;
  border: transparent;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.reset:hover {
  background-color: salmon;
  color: rgb(255, 255, 255);
}
