* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.turn {
  font-size: 2rem;
}

.container {
  width: 30rem;
  height: 30rem;
}

.grid {
  display: grid;
  height: 100%;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.tile {
  background-color: salmon;
  text-align: center;
  align-content: center;
  border: transparent;
  transition: transform 0.2s ease-in-out;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.active {
  pointer-events: none;
}

.test {
  outline: 1px solid green;
}

.reset {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  letter-spacing: 2px;
  border: transparent;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.reset:hover {
  background-color: salmon;
  color: rgb(255, 255, 255);
}
